version/**
bin/**
.vs/**
server/.vs/**
server/bin/**
server/LockstepEngine/**
server/SimpleServer/obj
client/Library
client/ProjectSettings
client/obj
client/Build
client/Assets/LockstepEngine
client/Assets/LockstepEngineUnityExt
client/Logs
client/.vscode/settings.json
client/.vs
*.suo
*.ide
*.sqlite

